
body{
    font-family: Arial;
    background:#f2f2f2;
    margin:0;
}

.main-container{
    display:flex;
    height:100vh;
}

.history-panel{
    width:250px;
    background:#1e1e1e;
    color:white;
    padding:20px;
    overflow-y:auto;
}

.history-panel h3{
    margin-top:0;
}

#history-list{
    list-style:none;
    padding:0;
}

#history-list li{
    padding:8px;
    border-bottom:1px solid #444;
    cursor:pointer;
}

#history-list li:hover{
    background:#333;
}

.chat-container{
    flex:1;
    padding:20px;
}

#chat-box{
    height:400px;
    overflow-y:auto;
    border:1px solid #ddd;
    padding:10px;
    margin-bottom:10px;
    background:white;
}

.user{
    text-align:right;
    color:blue;
    margin:5px;
}

.bot{
    text-align:left;
    color:green;
    margin:5px;
}

.input-area{
    display:flex;
}

input{
    flex:1;
    padding:10px;
}

button{
    padding:10px;
}
